// fonts
$primaryFont : 'Montserrat';
$iconFont : 'FontAwesome';
$light : 300;
$normal: 400;
$medium: 500;
$bold:600;
$bolder:700;
// colors
$primaryColor: #418b37;
$darkColor: #313131;
$damedColor: #c6c6c6;
$textColor: #777777;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$yellowColor: #f3c46b;
$redColor: #ed5b42;
$greenColor: #005f63;
$darkGreen : #01562b;

$borderColor: #eeeeee;


$font-size: initial;
$line-height: 1.4;
$lines-to-show: 4;
